@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<blockquote>
    <p>O que o HTML disse ao CSS? “Eu gosto do seu estilo!”</p>
    <p>Qual é o café favorito do desenvolvedor? Java.</p>
    <p>Como o banco de dados se declarou para a tabela? “Você é a chave primária do meu coração.”</p>
    <p>Por que o computador foi ao médico? Porque ele tinha um vírus!</p>
    <p>O que o neurônio disse ao outro neurônio? “Você tá pensando o que eu tô pensando?”</p>
    <p>Qual é o animal favorito do computador? O mouse.</p>
</blockquote>

<hr />

<blockquote>
    <p>Eu tentei criar uma piada sobre o vácuo, mas era vazia demais.</p>
    <p>Você ouviu sobre todos os significados ocultos do Rei Leão? Sim, está cheio de simbalismo.</p>
    <p>Por que os coalas não contam como ursos? Eles não têm as coalificações certas.</p>
    <p>Que tipo de carro o Yoda dirige? Toyoda.</p>
</blockquote>